*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#000;
color:white;

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}



.intro{

height:100vh;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

background:

radial-gradient(circle,#3a2b00,#000 60%);

}



.content{

animation:show 2s;

}



h1{

font-size:70px;

color:#d4af37;

text-shadow:

0 0 10px gold,
0 0 30px gold;

}



h2{

font-size:35px;

color:#fff1a8;

}



h3{

letter-spacing:5px;

color:#ccc;

}



.line{

height:2px;

width:200px;

background:gold;

margin:25px auto;

}



button{

margin-top:40px;

padding:18px 45px;

border-radius:50px;

background:transparent;

border:2px solid gold;

color:gold;

font-size:18px;

cursor:pointer;

transition:.5s;

}



button:hover{

background:gold;

color:black;

box-shadow:0 0 40px gold;

}




.memories{

padding:80px 10%;

text-align:center;

}



.gallery{

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;

margin-top:40px;

}



.gallery img{

height:420px;

width:300px;

object-fit:cover;

border-radius:25px;

border:2px solid gold;

transition:.5s;

box-shadow:0 0 25px #8c6b00;

}



.gallery img:hover{

transform:scale(1.08);

}




.letter{

margin:50px auto;

width:85%;

padding:50px;

border-radius:30px;

background:

rgba(255,255,255,.05);

border:1px solid gold;

backdrop-filter:blur(15px);

text-align:center;

}



.letter p{

line-height:2;

font-size:18px;

color:#eee;

}



footer{

padding:40px;

text-align:center;

color:gold;

}



@keyframes show{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

}

}
